:root {
   --route-color: red;
   --default-route-color: gray;
}

* {
   margin: 0;
   padding: 0;
}

@font-face {
   font-family: "montserrat-bold";
   src: url("fonts/Montserrat-Bold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "montserrat-semibold";
   src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "montserrat-medium";
   src: url("fonts/Montserrat-Medium.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "montserrat-thin";
   src: url("fonts/Montserrat-Thin.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}
@font-face {
   font-family: "monserrat-light";
   src: url("fonts/Montserrat-Light.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
}

html {
   width: 3150px;
   height: 1050px;
   margin: 0;
   padding: 0;
}
body {
   background-color: gray;
}

.main-panel {
   width: 3150px;
   height: 853px;
   background-color: white;
}

.infoscreen-panel-background {
   width: 1870px;
   height: 853px;
}
.station-list-container {
   width: 1870px;
   height: 423px;
}

.route-destination-container {
   justify-content: left;
   margin-left: 50px;
   align-items: center;
   display: flex;
}

.next-stop-container {
   position: relative;
   width: 1871px;
   height: 430px;
}

.next-stop-text-container {
   position: absolute;
   top: 0;
   left: 15px;
   width: 70%;
   height: 40%;
}

.connection-container {
   position: absolute;
   top: 52.5%;
   transform: translateY(-50%);
   left: 46%;
   width: calc(30% - 20px);
}

.next-station-container {
   position: absolute;
   top: 65%;
   left: 17%;
   transform: translate(-50%, -50%);
   height: 60%;
   width: calc(30% - 20px);
}

.exit-container {
   position: absolute;
   top: 0;
   width: 100%;
   margin-left: 1650px;
   height: 40%;
}

.next-stop-text-ua {
   font-size: 60px;
   margin-bottom: -50px;
   font-family: "montserrat-semibold";
   margin: 0;
   padding: 0;
}

.next-stop-text-en {
   font-size: 40px;
   color: rgb(98, 98, 98);
   font-family: "montserrat-medium";
}

.next-station-ua {
   padding: auto;
   margin: auto;
   font-size: 80px;
   font-family: "montserrat-bold";
}
.next-station-en {
   position: absolute;
   font-size: 50px;
   color: rgb(98, 98, 98);
   font-family: "montserrat-medium";
}

.connection-img {
   width: 90px;
   height: 90px;
}

.station-list-text-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 1870px;
   height: 212px;
}

.station-1,
.station-2,
.station-3 {
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.station-text-ua {
   text-align: center;
   line-height: 212px;
   font-size: 60px;
   font-family: "montserrat-semibold";
   margin: 0;
   margin-top: -60px;
}
.station-text-en {
   text-align: center;
   line-height: 212px;
   font-size: 40px;
   font-family: "montserrat-medium";
   color: rgb(98, 98, 98);
   margin: 0;
   margin-top: -150px;
}

.station-1-connection-img-container,
.station-2-connection-img-container,
.station-3-connection-img-container {
   margin-top: -75px;
   text-align: center;
}

.station-connection-img {
   margin: 5px;
   display: inline-block;
   width: 50px;
   height: 50px;
}

.animated-route-line {
   width: 100%;
   margin-top: 30px;
   display: grid;
   grid-template-columns: 17% 66% 17%;
}

.route-line-00 {
   border-bottom: 17px solid var(--default-route-color);
}

.route-line-20 {
   border-bottom: 17px solid var(--route-color);
}

.route-line-80 {
   border-bottom: 17px solid var(--route-color);
}

.animated-line-dots-container {
   position: relative;
   display: grid;
   width: 1970px;
   grid-template-columns: 17% 66% 17%;
   height: 40px;
}

.dot-container-1,
.dot-container-2,
.dot-container-3 {
   display: inline-block;
   position: relative;
   min-width: 600px;
   margin-left: 15px;
   margin-top: -35px;
}

.route-line-dot {
   background-color: var(--route-color);
   margin: auto;
   height: 40px;
   width: 40px;
   border-radius: 50%;
   border: 10px solid white;
   overflow: hidden;
}

.route-line-dot-moving {
   animation: move 3s linear 1;
}

.route-line-dashed {
   animation: dash 2s forwards;
}

.route-line-default-color {
   animation: default-color-transition 0.5s forwards;
}

.route-line-display-none {
   animation: line-display-none 1s forwards;
}

@keyframes move {
   0% {
      transform: translateX(0%);
      opacity: 1;
   }
   20% {
      opacity: 0;
   }
   39.9999% {
      transform: translateX(-500%);
   }
   40% {
      transform: translateX(300%);
      opacity: 0;
   }
   100% {
      transform: translateX(0%);
      opacity: 1;
   }
}

@keyframes dash {
   10% {
      opacity: 0;
   }
   30% {
      opacity: 0;
      border-bottom: 17px dashed var(--route-color);
   }
   50% {
      opacity: 0;
      border-bottom: 17px dashed var(--route-color);
   }
   100% {
      opacity: 1;
      border-bottom: 17px dashed var(--route-color);
   }
}

@keyframes default-color-transition {
   0% {
      border-bottom: 17px solid var(--route-color);
   }
   100% {
      border-bottom: 17px solid var(--default-route-color);
   }
}

@keyframes line-display-none {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

.news-panel {
   width: 1280px;
   height: 853px;
   float: right;
   overflow: hidden;
}

footer {
   background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 52%,
      rgba(0, 28, 255, 1) 100%
   );
   align-items: center;
   justify-content: center;
   margin-top: -8px;
   margin-left: -10px;
   height: 197px;
   width: 3150px;
   overflow: hidden;
}

.route-logo {
   display: flex;
   justify-content: center;
   max-width: 330px;
   max-height: 160px;
   padding-inline: 30px;
   padding-block: 0;
   align-items: center;
   margin-right: 35px;
   border-radius: 30px;
   font-size: 130px;
   font-family: "montserrat-bold";
   color: whitesmoke;
   background-color: var(--route-color);
}

.destination-text-container {
   justify-content: center;
   align-items: left;
   height: 197px;
}

.destination-text-ua {
   font-size: 100px;
   white-space: nowrap;
   margin: 0;
   font-family: "montserrat-bold";
   color: whitesmoke;
}

.destination-text-en {
   margin-top: -60px;
   font-size: 42px;
   margin: 0;
   font-family: "montserrat-bold";
   color: rgb(198, 198, 198);
}

.current_date_time_block {
   position: absolute;
   font-size: 80px;
   color: whitesmoke;
   font-family: "montserrat-semibold";
   width: 2450px;
   height: 197px;
   display: flex;
   justify-content: right;
   align-items: center;
   margin-left: 570px;
}

.current-date-text {
   margin-left: -140px;
}

.current-time-text {
   margin-left: 40px;
}
